.containerStyles {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.sliderStyles{
    height: 100%;
    position: relative;
    /* border: 1px solid black; */
}
.slideStyles {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-image: url($Image);
}

.leftArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 32px;
    font-size: 35px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.leftArrowStyles:hover {
    transform: translateY(-50%) scale(1.2);
}
.rightArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 32px;
    font-size: 35px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.rightArrowStyles:hover {
    transform: translateY(-50%) scale(1.2);
}

.dotsContainerStyles{
    display: flex;
    justify-content: center;
}

.dotStyle {
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;

    /* color: #fff; */
}
.dotStyle:hover{
    transform: translateY(-10%) scale(1.2);
}